html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 15px;
  position: absolute;
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height:610px;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: 7px solid #c4c4c4;
  border-radius: 15px;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

.calculator-logscreen{
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: 7px solid #c4c4c4;
  border-radius: 15px;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  grid-area: 6 / 2/ 6/ 5;
  overflow: auto
}

.calculator-logscreen:hover{
	width: 100%;
    height: 500px;
    
    border-radius: 50px;
}

button {
  height: 60px;
  background-color: #fff;
  border-radius: 20px;
  border: 3px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  text-shadow: 0 1px rgba(255,255,255,.4);
}

button:hover {
  background-color: #eaeaea;
}

.operator {
  color: #337cac;
  
}


.clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.clear:hover {
  background-color: #f17377;
}

.equalsign {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
  height: 100%;
  grid-area: 2/ 4 / 6 / 5;
}

.log {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff; 
  overflow: auto
}

.log:hover {
	background-color :#4e9ed4;
	width: 570px;
    height: 500px;
    padding: 100px;
    border-radius: 50px;
}

.equalsign:hover{
  background-color: #4e9ed4;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}